.cardox img{
    width: 30px;
    height: 30px;
    /* display: flex; */
    /* justify-content: right; */
    margin-right: 10px;
    margin-top: 10px;
}
.cardox{
   padding: 20 20px;
   height: 65%;
   width: 550px;
   /* margin-right: 100px; */
   background-color: rgb(21, 120, 201);
   margin-inline: 30px;
   margin-top: 19%;
   color: white;
   border-radius: 10px;
}

.cardox p{
    font-size: 62px;
    font-weight: 500;
    margin-top: -36px;
    /* margin-bottom: 60px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topy{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    
}

.cardox h6{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}





