.body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding-bottom: 5%;
}

.top{
    display: flex;
    justify-content: center;
    height: 25%
}

.charts{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
}

#line{
    width: 40%;
    height: 10%;
}

.body h1{
    /* font-weight: 500; */
  position: absolute;
  font-size: 60px;
  color: rgb(0, 0, 0);
  margin-top: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
} 
